* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 1px solid maroon; */
}
html {
  overflow-y: overlay;
}

a {
  text-decoration: none;
  color: inherit;
}

button{
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

h1 {
  margin-left: 2vw;
  margin-bottom: 2vh;
}

#maincontent {
  margin: 60px 10vw 20px 10vw;
}

.center {
  text-align: center;
}



/* 
NAV / STATUS
*/

#nav {
  position: fixed;
  width: 100%;
  top: 0%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(66, 66, 66);
  color: white;
  height: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:bold
}
#navleft {
  margin-left: 10vw;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
#navleft ul{
  display: flex;
  align-items: center;
  margin-top: -6px;
  padding: 2px;
}
#navleft img {
  height: 30px;
  width: 100%;
  margin-right: 5px;
  padding-right: 30px;
  object-fit: contain;
}
#navleft li {
  padding: 0 4vw;
  list-style: none;
}

#navright{
  margin-right: 10vw;
}
#navright button {
  margin: 0 1vw;
  padding: 10px 2vw;
  background-color: rgb(66, 66, 66);
  border: 1px solid white;
  color: white;
}

#status {
  position: fixed;
  left: 50%;
  top: 90%;
  transform: translate(-50%,-90%);
  width: 40vw;
  padding: 3vh 0;
  text-align: center;
  background-color: rgba(167, 230, 255, 0.801);
  border-radius: 10px;
}

/* 
HOME
*/
#home-page {
  margin:-30px -10vw -20px -10vw;
}
#home-1 {
  display: flex;
  justify-content: space-between;
  background-color: rgb(236, 236, 236);
  font-family: 'Source Sans Pro', sans-serif;
}
#home-1-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  margin-left: 5vw;
}
#home-1 h1{
  margin: 0;
  
}
#home-1 img {
  height: 100%;
  width: 45vw;
  margin-right: 5px;
  object-fit: contain;
}
#home-1 button{
  height: 100%;
  width: 100%;
  max-width: 200px;
  max-height: 50px;
  min-height: 30px;
  min-width: 50px;
  background-color: white;
  border: solid 1px grey;
}
#home-2 {
  padding: 30px 0;
}
#home-2 h2{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}
#home-2-lower {
  display: flex;
  justify-content: space-around;
  margin: 5vh 10vw;
}
#home-2-lower p {
  margin: 0 2vw;
}
#home-3 {
  display: flex;
  justify-content: space-between;
  background-color: rgb(247, 247, 247);
}
#home-3-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; 
  margin: 0 5vw;
  text-align: end;
}
#home-3 h1{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
#home-3 img {
  height: 100%;
  width: 45vw;
  margin: 0 5px;
  object-fit: contain;
}

#home-4 {
  padding: 10vh 0 10vh 0;
  text-align: center;
  background-color: rgb(53, 53, 53);
  color: rgb(204, 204, 204);
}
/* 
CART
*/


#cart {
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%,-35%);
  width: 75vw;
  height: 600px;
  background-color:rgba(243, 243, 243, 0.925);
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  
}

#cart-top {
  display: flex;
  justify-content: space-between;
  
}
#cart-top button {
  width: 40px;
  height: 40px;
  border: none;
  font-weight: bold;
  font-size: 2rem;
}
#cart-main {
  padding: 10px;
  margin: 10px 0;
  height: 400px;
  overflow: auto;
}

#cart-item {
  margin: 10px 5px 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
#cart-item-left{
  height: 100%;
  display: flex;
  align-items: center;
}
#cart-item-right{
  display: flex;
  align-items:center;
}
#cart-item-right button {
  margin: 3px 0 0 10px;
}
#cart-item img {
  height: 100%;
  width: 3vw;
  margin-right: 5px;
  object-fit: contain;
}
#cart-item h3{
  width: 25vw;
}
#cart-item h4{
  width: 5vw;
}
#cart-bottom {
  display: flex;
  flex-direction: column;
}
#cart-bottom p{
  text-align: right;
  font-weight: bold;
}

#cart-checkoutbutton {
  align-self: center;

}
#cart-bottom button {
  background-color: rgb(220, 255, 220);
  width: 100%;
  height: 30px;
  max-width: 450px;
  min-width: 150px;
 
  align-self: center;


}

/* 
Shop
*/

#shop {
  display: flex;
}

#shop-page li {
  margin-top: 10px;
  list-style: none;
}
#shopfilter {
  width: 100px;

}


#shop-items-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shopitem {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  border: solid 1px rgb(184, 184, 184);

  height: 320px;
  margin: 5px;
  padding: 5px 0;
  width: 250px;
}
.shopitem h3{
  text-align: center;
}
.shopitem-left {
  width: 200px;
  display: flex;
  justify-content: center;
  
}
.shopitem-right {
  height: 170px;
  padding: 2px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.shopitem img {
  height: auto;
  width: auto;
  max-height: 150px;
  max-width: 180px;

  object-fit: contain;
}


/* 
Item Page
*/
#itempage {
  margin: 2vh 2vw;
}
#itempage img {
  max-height: 40vh;
  max-width: 40vw;
  object-fit: contain;
  overflow: hidden;
}
#item-backbutton {
  background-color: white;
  border: 1px solid rgb(216, 215, 215);
  padding: 5px 20px;
  margin: 0 0 10px 0;
}

.item-upper {
  display: flex;
  justify-content: space-around;
  margin: 3vh 0;
}

.item-upper-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.item-purchase {
  display: flex;
  flex-direction: column;
}
.urbox{
  min-height: 100px;
}


/* 
Login page
*/

#login-page {
  margin: 15vh 20vw;
  
}

#login-page form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#login-page label {
  font-size: 1.5rem;
}
#login-page input {
  margin: 1vh 0;
  height: 3rem;
}
#login-page-lower {
  display: flex;
  justify-content: center;
}
#login-page button {
  margin: 3vh 0 0 0;
  justify-self: center;
  height: 3rem;
  padding: 0 10vw;
  
  
}


/* 
Checkout page
*/

#checkout-main {
  padding: 2vw;
  margin-bottom: 3vh;
}

#paybutton {
  display: block;
  margin: 5vh auto 0;
  width: 50%;
  height: 5vh;
}
/* 
Payment Page
*/



#payment-main {
  display: flex;
  width: 100%;
}
#payment-cart {
  font-size: 0.8rem;

}
#payment-cart button {
  display: none;
}
#deliveryinfo {
  margin: 20px;
  padding-left: 5vw;
  border-left: solid 1px black;
}
#payment-lower {
  margin: 3vh 0vw;
  text-align: center;
  background-color: rgba(255, 232, 168, 0.555);
  border-radius: 10px;
  padding: 10px;
  font-size: 0.9rem;
}

/* 
User Page (Userdash)
*/

#userpage-main {
  display: flex;
  flex-wrap: wrap;
  margin: 3vh 0;
  justify-content: space-around;
}

.userpagebutton{
  width: 35vw;
  height: 20vh;
  margin: 5vh 2vw 0;
  background-color: rgb(240, 240, 240);
  padding: 3vh 5vw;
  border-radius: 10px;
  border: 1px solid grey
}

/* 
Orders
*/

#order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  background-color: rgb(235, 235, 235);
  height: 10vh;
  border-radius: 10px;
}
#order-item p {
  margin: 0 10px;
}

#order-item img {
  height: 100%;
  width: 3vw;
  margin-right: 5px;
  object-fit: contain;
}
/* 
Orders
*/

#signup-page {
  margin: 15vh 20vw;
  
}

#signup-page form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#signup-page label {
  font-size: 1.5rem;
}
#signup-page input {
  margin: 1vh 0;
  height: 3rem;
}
#signup-lower {
  display: flex;
  justify-content: center;
}
#signup-lower button {
  margin: 1vh 0;
  height: 3rem;
  padding: 0 10vw;
  
}

/* 
Useramend
*/

#useramend-page {
  margin: 5vh 20vw;
  
}

#useramend-page form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#useramend-page label {
  font-size: 1.5rem;
}
#useramend-page input {
  margin: 1vh 0;
  height: 2rem;
}
#useramend-lower {
  display: flex;
  justify-content: center;
}
#useramend-lower button {
  margin: 1vh 0;
  height: 3rem;
  padding: 0 10vw;
  
}

/*------------------------------------------
Responsive section--------------------------
------------------------------------------*/

@media screen and (max-width: 880px) {
  #maincontent {
    margin: 60px 0 20px 0;
  }
  #navleft {
    margin-left: 0px;
  }
  #navright{
    margin-right: 10px;
  }
  
  #navright button {
    margin: 0 0;
    padding: 10px 1vw;
  }

  #home-page {
    margin: 0px;
    font-size: 0.7rem;
  }
  #cart-item h3{
    width: 15vw;
  }
  #cart-item h4{
    width: 3vw;
    margin: 0 2vw;
  }
  #cart-item button{
    margin-left: 5vw;
  }
  .shopitem{
    width: 150px;
    height: 310px;
    font-size: 0.8rem;
  }


}

@media screen and (max-width: 600px) {
  #navleft li {
    padding: 0 3vw;
  }
  #navleft img {
    padding-right: 0px;
    margin-right: 0px;
  }

}


@media screen and (max-width: 475px) {
  #navright button {
    padding: 2px 0;
    font-size: 0.7rem;
    width: 20vw;
  }
  #navleft li {
    padding: 0 2vw;
    font-size: 0.8rem;
  }
  #navleft ul {
    margin-left: 5vw;
  }
  #nav{
    height: 45px;
  }
  #navright{
    text-align: right;
  }
  #navleft img {
    min-width: 120px;
    margin: 0 5px;
  }
  .shopitem {
    width: 100px;
    height: 260px;
    font-size: 0.6rem;
  }
  .shopitem img {
    max-width: 80px;
  }
  #shopfilter {
    font-size: 0.7rem;
    width: 60px;
    margin-left: 5px;
  }
  #cart {
    font-size: 0.6rem;
  }
  #cart{
    padding: 20px 10px;
  }
  #cart-item {
    margin: 10px -10px 0 -10px;
  }
  #itempage {
    font-size: 0.9rem;
  }
  #userpage h1{
    font-size: 1.5rem;
  }
  #userpage-main {
    margin: 0 0;
  }
  .userpagebutton {
    font-size: 0.7rem;
  }
  #checkout {
    font-size: 0.8rem;
    margin: 25px;
  }
  #payment {
    margin: 10px;
  }
  #payment-main {
    font-size: 0.7rem;
  }
  #payment-lower {
    font-size: 0.7rem;
  }
 
  
}